* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

#titulo,
#subtitulo {
  color: #380861;
  text-align: center;
  margin-bottom: 1rem;
}

fieldset {
  border: 0;
}

form {
  width: 100%;
  max-width: 600px;
}

header {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #fffff0;
  font-family: sans-serif;
  font-size: 1em;
  color: #59429d;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 5%; */
}

input,
select,
textarea,
button {
  border-radius: 5px;
  box-sizing: border-box;
}

.campo {
  margin-bottom: 1em;
}

.campo label {
  margin-bottom: 0.2em;
  color: #59429d;
  display: block;
}

fieldset.grupo {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-bottom: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo select,
.campo textarea {
  padding: 0.2em;
  border: 1px solid #59429d;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.campo select option {
  padding-right: 1em;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
  background-color: #fcfca8;
}

.botao {
  font-size: 1.2em;
  background-color: #59429d;
  border: none;
  color: #ffffff;
  padding: 0.6em 1.2em;
  margin-top: 1em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: auto;
}

.botao:hover {
  background: #ccbbff;
  color: #59429d;
  box-shadow: inset 2px2 px 2px rgba(0, 0, 0, 0.2);
  text-shadow: none;
}

.botao,
select {
  cursor: pointer;
}

#check {
  display: inline-block;
  flex-wrap: wrap;
  gap: 0.5em 1em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0c758; /* Cor de fundo do rodapé */
  color: #59429d; /* Cor do texto do rodapé */
  text-align: center;
  padding: 15px 0;
}

/* Responsividade */
@media (max-width: 600px) {
  body {
    padding: 1rem;
  }

  fieldset.grupo {
    flex-direction: column;
  }

  fieldset.grupo .campo {
    min-width: 100%;
  }

  textarea {
    width: 100% !important;
  }

  .botao {
    width: 100%;
  }
}